<%= form_with(model: phone) do |form| %>
  <% if phone.errors.any? %>
    <div class="error">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>
      <ul>
        <% phone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :device_id, "Select Device" %>
    <%= form.collection_select(:device_id, Device.all, :id, :name, prompt: "Choose a device") %>
  </div>

  <div>
    <%= form.submit "Save Phone" %>
  </div>
<% end %>
